p {

    font-size: 33;
    color: #FFC0CB
}




.red_bold {

    color: darkgreen;
    font-weight: bold
}

p2 {

    font-size: 33;
    color: rgb(205, 92, 92)
}

.italic_under {

    font-style: underline
}

.outer {

    background-color: azure;
    border: 3px solid black;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;

}

/inner {

    padding: 15px;
    justify-content: center;

}

#3 {
    color: darkmagenta
}

.shadow {

    text-shadow: 1px 2px 2px;
    color: mediumorchid
}

body {

    background-image: url();

}

.menu {

    display: flex;
    justify-content: center
}

.menu_item {

    display: inline-block;
    padding: 15px;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.menu_item:hover {
    background-color: aqua
}
